@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin 'tailwindcss-animate';
@config "../../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-*: initial;
  --color-black-25: #0000000d;
  --color-black-50: #0000001a;
  --color-black-100: #00000033;
  --color-black-200: #0000004d;
  --color-black-300: #00000066;
  --color-black-400: #00000080;
  --color-black-500: #00000099;
  --color-black-600: #000000b2;
  --color-black-700: #000000cc;
  --color-black-800: #000000e5;
  --color-black-900: #000000;
  --color-danger-50: #ffeaed;
  --color-danger-100: #ffcace;
  --color-danger-200: #f59492;
  --color-danger-300: #ec6968;
  --color-danger-400: #f64341;
  --color-danger-500: #fa2c21;
  --color-danger-600: #eb1d22;
  --color-danger-700: #da091d;
  --color-danger-800: #cd0015;
  --color-danger-900: #bf0003;
  --color-grey-50: #f9faff;
  --color-grey-100: #f4f5fa;
  --color-grey-200: #eeeef3;
  --color-grey-300: #e0e1e6;
  --color-grey-400: #bdbec3;
  --color-grey-500: #9e9fa4;
  --color-grey-600: #75767a;
  --color-grey-600a: #75767ae5;
  --color-grey-700: #616266;
  --color-grey-700a: #616266e5;
  --color-grey-800: #424347;
  --color-grey-800a: #424347e5;
  --color-grey-900: #212225;
  --color-primary-50: #fef3e1;
  --color-primary-100: #fde0b5;
  --color-primary-200: #fdcc85;
  --color-primary-300: #fcb756;
  --color-primary-400: #fba735;
  --color-primary-500: #fa9821;
  --color-primary-600: #f68d1f;
  --color-primary-700: #ef7e1c;
  --color-primary-800: #e86e1a;
  --color-primary-900: #de5617;
  --color-secondary-50: #e3f2ff;
  --color-secondary-100: #bbddff;
  --color-secondary-200: #bbddff;
  --color-secondary-300: #5eb2ff;
  --color-secondary-400: #39a1ff;
  --color-secondary-500: #1791ff;
  --color-secondary-600: #2183fa;
  --color-secondary-700: #2570e6;
  --color-secondary-800: #265ed3;
  --color-secondary-900: #273db4;
  --color-white-25: #ffffff0d;
  --color-white-50: #ffffff1a;
  --color-white-100: #ffffff33;
  --color-white-200: #ffffff4d;
  --color-white-300: #ffffff66;
  --color-white-400: #ffffff80;
  --color-white-500: #ffffff99;
  --color-white-600: #ffffffb2;
  --color-white-700: #ffffffcc;
  --color-white-800: #ffffffe5;
  --color-white-900: #ffffff;
  --color-maya: #0075ca;
  --color-stan: #de9300;
  --color-brand: var(--color-primary-600);
  --color-dark-brand: var(--color-primary-500);
  --color-brand-hover: var(--color-primary-400);
  --color-dark-brand-hover: var(--color-primary-300);
  --color-brand-active: var(--color-primary-700);
  --color-dark-brand-active: var(--color-primary-600);
  --shadow-char: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.shadow-char {
  box-shadow: var(--shadow-char);
}

@layer utilities {
  .text-secondary {
    color: var(--color-black-500);
  }

  .dark .text-secondary {
    color: var(--color-white-600);
  }

  .bg-card {
    background-color: var(--color-white-900);
  }

  .dark .bg-card {
    background-color: var(--color-grey-800);
  }

  .border-default {
    border-color: var(--color-black-50);
  }

  .dark .border-default {
    border-color: var(--color-white-50);
  }

  .divide-default {
    @apply divide-black-50 dark:divide-white-50;
  }

  .ring-default {
    --tw-ring-color: var(--color-black-50);
  }

  .dark .ring-default {
    --tw-ring-color: var(--color-white-50);
  }

  .inset-ring-default {
    --tw-inset-ring-color: var(--color-black-50);
  }

  .dark .inset-ring-default {
    --tw-inset-ring-color: var(--color-white-50);
  }

  .text-primary {
    color: var(--color-black-800);
  }

  .dark .text-primary {
    color: var(--color-white-900);
  }

  .text-secondary {
    color: var(--color-black-500);
  }

  .dark .text-secondary {
    color: var(--color-white-600);
  }

  .text-secondary-hover {
    color: var(--color-black-700);
  }

  .dark .text-secondary-hover {
    color: var(--color-white-800);
  }

  .text-secondary-active {
    color: var(--color-black-400);
  }

  .dark .text-secondary-active {
    color: var(--color-white-500);
  }

  .text-link {
    color: var(--color-brand);
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    transition-property:
      color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
  }

  .dark .text-link {
    color: var(--color-dark-brand);
  }

  .text-link:hover {
    color: var(--color-brand-hover);
  }

  .dark .text-link:hover {
    color: var(--color-dark-brand-hover);
  }

  .text-link:active {
    color: var(--color-brand-active);
  }

  .dark .text-link:active {
    color: var(--color-dark-brand-active);
  }

  .icon {
    display: inline-block;
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    white-space: nowrap;
    user-select: none;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  .icon-16 {
    font-size: 16px;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 16;
  }

  .icon-16-fill {
    font-size: 16px;
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 16;
  }

  .icon-20 {
    font-size: 20px;
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 20;
  }

  .icon-20-fill {
    font-size: 20px;
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 20;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  line-height: 1;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-black-50 dark:border-white-50 outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
